/* * {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
} */


/******************* Header *********************/

/* .bg-body-tertiary {
  /*cambio de color fondo*/
  /* background-color: rgb(228, 181, 119) !important;
} */ 

/* .navbar-nav .nav-link {
  /*letras en negro*/
  /* color: black !important;
  font-family: "Roboto Mono", monospace;
  font-optical-sizing: auto;
  font-weight: 250;
  font-style: normal;
}

.nav-link:hover {
  color: white !important;
} */ 

/* .logo {
  width: 70px;
  /* ajustá el tamaño del logo*/
  /* height: auto;
} */ 

/* .carrito {
  /*ajusta el tamaño del carrito*/
  /* width: 30px;
  height: auto;
  cursor: pointer;
} */ 

/********************* body **************************/

/* body {
  background-image: url("./imagenes/fondo.jpg");
  background-size: cover;
  /* imagen como fondo */
  /* background-repeat: no-repeat;
  no se repite la imagen
  background-position: center;
  /* centra la imagen */


/************carrusel**************************/

/* .titulo-rosa {
  text-align: center;
  font-size: 35px;
  color: rgb(255, 255, 255);
  background-color: rgb(255, 0, 208);
  margin: 10px;
  padding: 10px;
  font-family: "Roboto Mono", monospace;
  font-optical-sizing: auto;
  font-weight: 250;
  font-style: normal;
}

.pink-background {
  background-color: rgba(255, 0, 208, 0.537);
}

.carousel-inner h5 {
  color: rgb(255, 255, 255) !important;
  font-family: "Roboto Mono", monospace;
  font-optical-sizing: auto;
  font-weight: 250;
  font-style: normal;
}

.carousel-inner p {
  color: rgb(255, 255, 255) !important;
  font-family: "Roboto Mono", monospace;
  font-optical-sizing: auto;
  font-weight: 250;
  font-style: normal;
}

.carousel-caption {
  position: absolute;
  bottom: 20px;
  /* distancia desde el borde inferior */
  /* left: 50%;
  transform: translateX(-50%);
  text-align: center;
  width: 100%;
  color: white;
  /* asegurate de que el texto sea visible sobre la imagen */
  /* background-color: rgba(0, 0, 0, 0.232);
  /* opcional: fondo semitransparente para mejor legibilidad */
  /* padding: 10px;
  border-radius: 5px;
} */ 

/********************* Novedades section *************************/

/* .novedades-section {
  /*background-color: white;*/
  /* background-image: url("./imagenes/novedades-fondo.jpg");
  background-size: cover;
  /* imagen como fondo */
  /* background-repeat: no-repeat;
  /* no se repite la imagen */
  /* background-position: center; */ 
  /* centra la imagen */
/* }

.novedades-padre {
  display: flex;
  flex-direction: column;
  /*para que los elementos se muestren en una sola columna*/
  /* align-items: center;
  /*centra los elementos*/
  /* border: 2px rgb(0, 0, 0) solid;
  /*borde rojo*/

/* .novedades-section h1 {
  text-align: center;
  color: rgb(255, 255, 255);
  font-family: "Roboto Mono", monospace;
  font-optical-sizing: auto;
  font-weight: 250;
  font-style: normal;
} */

/* .novedades-section p {
  text-align: center;
  font-size: 20px;
  color: rgb(255, 255, 255);
  font-family: "Roboto Mono", monospace;
  font-optical-sizing: auto;
  font-weight: 250;
  font-style: normal;
} */

/* .novedades-img {
  width: 100%;
  height: 67%;
  display: block;
  margin: 0 auto;
  cursor: pointer;
  max-height: 215px;
} */ 

/********************* Custom section *************************/

/* .banner-section {
  background-image: url("./imagenes/shop.png");
  background-size: cover;
  /* imagen como fondo */
  /* background-repeat: no-repeat; */
  /* no se repite la imagen */
  /* background-position: center; */
  /* centra la imagen */

/* .banner-padre {
  display: flex;
  flex-direction: column;
  /*para que los elementos se muestren en una sola columna*/
  /* align-items: center;
  /*centra los elementos*/
  /* border: 2px rgb(0, 0, 0) solid; */ 
  /*borde rojo*/


/* .banner-section h1 {
  text-align: center;
  color: rgb(255, 255, 255);
  padding: 10px;
  margin: 10px;
  background-color: rgba(0, 0, 0, 0.467);
  font-family: "Roboto Mono", monospace;
  font-optical-sizing: auto;
  font-weight: 250;
  font-style: normal;
} */

/* .banner-section p {
  text-align: center;
  font-size: 20px;
  color: rgb(255, 255, 255);
  font-family: "Roboto Mono", monospace;
  font-optical-sizing: auto;
  font-weight: 250;
  font-style: normal;
  padding: 10px;
  margin: 10px;
  background-color: rgba(0, 0, 0, 0.488);
} */
/* 
.banner-img {
  width: 100%;
  height: 67%;
  display: block;
  margin: 0 auto;
  cursor: pointer;
  max-height: 215px;
} */

/********************* How section *************************/
/* .how-section h2 {
  text-align: center;
  font-size: 35px;
  color: white;
  background-color: black;
  margin: 10px;
  padding: 10px;
  font-family: "Roboto Mono", monospace;
  font-optical-sizing: auto;
  font-weight: 250;
  font-style: normal;
} */

/* .how-container{
  background-image: url("./imagenes/how.jpg");
  background-size: cover;
  /* imagen como fondo */
  /* background-repeat: no-repeat; */
  /* no se repite la imagen */
  /* background-position: center; */
  /* centra la imagen */
  /* margin-bottom: 10px;
} */ 

/* .how-steps{
  width: 100%;
} */

/* .how-container p {
  text-align: center;
  font-size: 20px;
  color: rgb(255, 255, 255);
  font-family: "Roboto Mono", monospace;
  font-optical-sizing: auto;
  font-weight: 250;
  font-style: normal;
  padding: 10px;
  margin: 10px;
  background-color: rgba(0, 0, 0, 0.488);
} */

/* .white-background {
  background-color: rgba(255, 255, 255, 0.537);
} */

/* .favs-container img{
   width: 100%;      /* La imagen ocupa todo el ancho de la columna */
  /* margin-bottom: 10px; /* Separación entre imágenes */
  /* margin-top: 10px;
  border-radius: 8px;  /* Bordes redondeados opcional */
  /* object-fit: cover;   Ajusta la imagen dentro del contenedor */


/* @media (max-width: 768px) {
  .favs-container .row {
    display: flex;
    flex-direction: column; /* Apilar columnas verticalmente */
    /* align-items: center;    Centrar contenido horizontalmente
  } */

  /* .favs-container .col-1 {
    display: none; /* Ocultar las columnas vacías */
  

  /* .columna-imagenes {
    width: 100%;  /* Cada columna ocupa todo el ancho */
    /* margin-bottom: 20px; */
  



/***************** footer **************************************/

/* .pie {
  background-color: #333;
  color: #fff;
  padding: 20px;
  width: 100%;
  min-height: 37px;
  display: grid;
  grid-template-columns: auto 1fr auto;
  /* izquierda - centro - derecha */
  /* align-items: center; */
  /* centra verticalmente */


/* .footer-left {
  justify-self: start;
  /* alinea el bloque a la izquierda */
  /* font-size: 15px;
  padding: 10px;
  border: 2px solid white;
  border-radius: 10px;
  /* esquinas redondeadas */
  /* font-family: "Roboto Mono", monospace;
  font-optical-sizing: auto;
  font-weight: 250;
  font-style: normal;
} */ 

/* .footer-text {
  justify-self: center;
  /* centra el texto en su columna */
  /* font-size: 15px;
  padding: 10px;
  border: 2px solid white;
  border-radius: 10px;
  /* esquinas redondeadas */
  /* font-family: "Roboto Mono", monospace;
  font-optical-sizing: auto;
  font-weight: 250;
  font-style: normal;
} */ 

/* .redes_sociales-container {
  justify-self: end;
  /* pega el bloque de redes a la derecha */
  /* display: flex;
  gap: 10px; */
  /* espacio entre iconos */
/* } */ 

/* .redes-sociales-container a {
  color: rgb(255, 255, 255);
  font-size: 20px;
  /*los iconos se modifican como texto*/
 

/* .redes_sociales-container a:hover {
  color: rgb(228, 181, 119);
} */

/* .footer-left p,
.footer-text p {
  margin: 0 !important;
} */ 

/*********************** Accesorios ************************/

/* .grid-accesorios {
  margin: 5px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-auto-rows: 250px;
  gap: 10px;
  font-family: "Roboto Mono", monospace;
  font-optical-sizing: auto;
  font-weight: 250;
  font-style: normal;
  cursor: pointer;
}

.grid-item {
  background-color: rgba(0, 0, 0, 0.589);
}

.grid-item img {
  width: 100%;
  height: 100%;
  object-fit: contain;
  cursor: pointer;
  ajusta el tamaño de la imagen
}

.img4 {
  grid-column: span 2;
  /* ocupa 2 columnas */
 /*/

/* .img6 {
  grid-row: span 2;
  /* ocupa 2 columnas */
/* } */ 

/* .img8 {
  grid-row: span 2;
  ocupa 2 columnas
} */

/* .grid-item {
  position: relative;
  un elemento absoluto no puede salir
} */

/* .grid-item h3 {
  position: absolute;
  /*posiciona el elemento respecto a su contenedor*/
  /* bottom: 0;
  /*lo posiciona abajo*/
  /* color: rgb(255, 255, 255);
  background-color: rgba(0, 0, 0, 0.648);
  padding: 10px;
} */ 

/********************* Ofertas Destacados *******************/

/* .contenedor-ofertas { */
  /* display: flex; */
  /*para que los elementos se muestren en una sola linea*/
  /* flex-direction: row;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
  para que los elementos se ajusten al ancho de la pantalla */

/* .ofertas-destacados .contenedor-ofertas div {
  border: 1px solid rgb(0, 0, 0);
  /* borde rojo*/
  /* width: 300px;
  height: 325px;
  margin: 15px;
  text-align: center;
  background-image: url("./imagenes/card-fondo.jpg");
  background-size: cover;
  /* imagen como fondo */
  /* background-repeat: no-repeat;
  /* no se repite la imagen */
  /* background-position: center;
  /* centra la imagen */


/* .ofertas-destacados h2 {
  text-align: center;
  font-size: 35px;
  color: white;
  background-color: black;
  margin: 10px;
  padding: 10px;
  font-family: "Roboto Mono", monospace;
  font-optical-sizing: auto;
  font-weight: 250;
  font-style: normal;
} */

/* .ofertas-destacados h3 {
  margin: 5px;
  color: rgb(255, 255, 255);
  font-size: 20px;
  font-family: "Roboto Mono", monospace;
  font-optical-sizing: auto;
  font-weight: 250;
  font-style: normal;
} */

/* .ofertas-destacados div img {
  width: 250px;
  height: 250px;
  object-fit: contain;
  /* ajusta el tamaño */
 

/* .ofertas-destacados div a {
  text-decoration: none;
  /*quita el subrayado*/
  /* color: rgb(255, 255, 255);
  background-color: black;
  padding: 5px;
  font-family: "Roboto Mono", monospace;
  font-optical-sizing: auto;
  font-weight: 250;
  font-style: normal;
} */ 

/* .ofertas-destacados div a:hover {
  background-color: rgb(255, 255, 255);
  color: black;
  /*cambia el color del boton al pasar el mouse*/


/********************* Guitarras Destacados *******************/

.contenedor-guitarras {
  display: flex;
  /*para que los elementos se muestren en una sola linea*/
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
  /*para que los elementos se ajusten al ancho de la pantalla*/
}

.guitarras-destacados .contenedor-guitarras div {
  border: 1px solid rgb(0, 0, 0);
  /* borde rojo*/
  width: 300px;
  height: 325px;
  margin: 50px;
  text-align: center;
  background-image: url("./imagenes/card-fondo.jpg");
  background-size: cover;
  /* imagen como fondo */
  background-repeat: no-repeat;
  /* no se repite la imagen */
  background-position: center;
  /* centra la imagen */
}

.guitarras-destacados h2 {
  text-align: center;
  font-size: 35px;
  color: white;
  background-color: black;
  margin: 10px;
  padding: 10px;
  font-family: "Roboto Mono", monospace;
  font-optical-sizing: auto;
  font-weight: 250;
  font-style: normal;
}

.guitarras-destacados h3 {
  margin: 5px;
  color: rgb(255, 255, 255);
  font-size: 20px;
  font-family: "Roboto Mono", monospace;
  font-optical-sizing: auto;
  font-weight: 250;
  font-style: normal;
}

.guitarras-destacados div img {
  width: 250px;
  height: 250px;
  object-fit: contain;
  /* ajusta el tamaño */
  ;
}

.guitarras-destacados div a {
  text-decoration: none;
  /*quita el subrayado*/
  color: rgb(255, 255, 255);
  background-color: black;
  padding: 5px;
  font-family: "Roboto Mono", monospace;
  font-optical-sizing: auto;
  font-weight: 250;
  font-style: normal;

}

.guitarras-destacados div a:hover {
  background-color: rgb(255, 255, 255);
  color: black;
  /*cambia el color del boton al pasar el mouse*/
}

/********************* Bajos Destacados *******************/

.contenedor-bajos {
  display: flex;
  /*para que los elementos se muestren en una sola linea*/
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
  /*para que los elementos se ajusten al ancho de la pantalla*/
}

.bajos-destacados .contenedor-bajos div {
  border: 1px solid rgb(0, 0, 0);
  /* borde rojo*/
  width: 300px;
  height: 325px;
  margin: 50px;
  text-align: center;
  background-image: url("./imagenes/card-fondo.jpg");
  background-size: cover;
  /* imagen como fondo */
  background-repeat: no-repeat;
  /* no se repite la imagen */
  background-position: center;
  /* centra la imagen */
}

.bajos-destacados h2 {
  text-align: center;
  font-size: 35px;
  color: white;
  background-color: black;
  margin: 10px;
  padding: 10px;
  font-family: "Roboto Mono", monospace;
  font-optical-sizing: auto;
  font-weight: 250;
  font-style: normal;
}

.bajos-destacados h3 {
  margin: 5px;
  color: rgb(255, 255, 255);
  font-size: 20px;
  font-family: "Roboto Mono", monospace;
  font-optical-sizing: auto;
  font-weight: 250;
  font-style: normal;
}

.bajos-destacados div img {
  width: 250px;
  height: 250px;
  object-fit: contain;
  /* ajusta el tamaño */
}

.bajos-destacados div a {
  text-decoration: none;
  /*quita el subrayado*/
  color: rgb(255, 255, 255);
  background-color: black;
  padding: 5px;
  font-family: "Roboto Mono", monospace;
  font-optical-sizing: auto;
  font-weight: 250;
  font-style: normal;
}

.bajos-destacados div a:hover {
  background-color: rgb(255, 255, 255);
  color: black;
  /*cambia el color del boton al pasar el mouse*/
}

/************************ Usados Luthier Grilla **********************************/

/* .usados-luthier-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  /* 2 columnas, de 1fr. 2 columnas iguales */
  /* justify-items: center;
  /* centra los contenidos en la celda */
  /* align-items: center;
  margin-top: 20px;
  gap: 20px;
  /*espacio entre los elementos*/
  /* padding: 20px;
} */ 

/* .usados-luthier-padre h3 {
  text-align: center;
  font-size: 35px;
  color: white;
  background-color: black;
  margin: 10px;
  padding: 10px;
  font-family: "Roboto Mono", monospace;
  font-optical-sizing: auto;
  font-weight: 250;
  font-style: normal;
} */

/*************************ARREGLAR ESTO*****************************/
/* .usados-luthier-padre p {
  text-align: center;
  font-size: 30px;
  color: rgb(255, 255, 255);
  margin: 10px;
  padding: 10px;
  background-color: rgba(0, 0, 0, 0.421);
  font-optical-sizing: auto;
  font-weight: 250;
  font-style: normal;
} */

/* .usados,
.luthier {
  /*background: #f5f5f5; /* opcional, para ver las cajas */
  /*padding: 15px;*/
  /* border-radius: 10px;
  /* esquinas redondeadas */
  /* text-align: center;
  /* centra el texto e imagen */
  /* width: 100%; */


/* .usados-item,
.luthier-item {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 10px;
  cursor: pointer;
} */

/*********************** sobre nosotros *****************************/

.seccion-nosotros p {
  text-align: center;
  font-size: 20px;
  color: rgb(255, 255, 255);
  margin: 10px;
  padding: 10px;
  background-color: rgba(0, 0, 0, 0.421);
  font-family: "Roboto Mono", monospace;
  font-optical-sizing: auto;
  font-weight: 250;
  font-style: normal;
}

.seccion-nosotros h2 {
  text-align: center;
  font-size: 35px;
  color: rgb(255, 255, 255);
  background-color: black;
  margin: 10px;
  padding: 10px;
  font-family: "Roboto Mono", monospace;
  font-optical-sizing: auto;
  font-weight: 250;
  font-style: normal;
}


.titulo-sobre-nosotros {
  text-align: center;
  font-size: 35px;
  color: white;
  background-color: black;
  margin: 10px;
  padding: 10px;
  font-family: "Roboto Mono", monospace;
  font-optical-sizing: auto;
  font-weight: 250;
  font-style: normal;
}

/* Contenedor de la grilla */

.grilla-ubi {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  /* 3 columnas iguales */
  gap: 16px;
  /* espacio entre columnas */
  align-items: start;
  /* alineación vertical de los items */
  padding: 16px;
}

.grilla-ubi .item {
  border-radius: 8px;
  padding: 20px;
  text-align: center;
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.06);
  background-image: url("./imagenes/card-fondo.jpg");
  /************** ARRGELAR ESTO ***************/
  background-size: cover;
  /* imagen como fondo */
  background-repeat: no-repeat;
  /* no se repite la imagen */
  background-position: center;
  /* centra la imagen */
}

.item h3 {
  margin: 0 0 8px;
  font-size: 18px;
  font-family: "Roboto Mono", monospace;
  font-optical-sizing: auto;
  font-weight: 250;
  font-style: normal;
  color: white;
}

.grilla-ubi .item iframe {
  width: 100%;
  height: 250px;
  /* puedes ajustar la altura según tu diseño */
  display: block;
}

/********************** media query 1000px grilla sobre nosotros *********************/

@media (max-width: 1000px) {
  .grilla-ubi {
    grid-template-columns: 1fr;
    /* 1 columna (items apilados) */
  }
}

/**********************media query 940px grilla accesorios *********************/

@media screen and (max-width:940px) {
  .grid_accesorios {
    margin: 5px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-auto-rows: 200px;
    gap: 10px;
  }

  .grid_item {
    grid-column: span 1;
    grid-row: span 1;
  }

  .img9 {
    grid-column: span 2;
  }

}

/**********************media query 1000px grilla usados luthier *********************/

@media screen and (max-width: 1000px) {
  .usados_luthier_container {
    grid-template-columns: 1fr;
    /* 1 columna */
    grid-auto-rows: auto;
  }

  .usados,
  .luthier {
    width: 100%;
    max-width: 350px;
    margin: 0 auto;
    text-align: center;
    display: block;
  }

  .usados_item,
  .luthier_item {
    width: 100%;
    height: auto;
    object-fit: contain;
    display: block;
    margin: 0 auto;
  }
}

/**************** COMENTARIOS ****************************************/

/*grilla luthier usados p dentro del item*/
/*achicar carrussel sin romper responsive*/

/*aspect ratio en la imagen custom banner*/
/*margin top banner custom*/
/*arreglar margins en custom shop*/
/*arreglar how container*/
/*Como hago para que un padding no ocupe todo el ancho y solo los bordes*/