// .contenedor-ofertas {
//   display: flex;
//   /*para que los elementos se muestren en una sola linea*/
//   justify-content: space-around;
//   align-items: center;
//   flex-direction: row;
//   flex-wrap: wrap;
//   /*para que los elementos se ajusten al ancho de la pantalla*/
// }

.ofertas-destacados .contenedor-ofertas div {
  border: solid;
  /* borde rojo*/
  width: 300px;
  height: 325px;
  margin: 15px;
  text-align: center;
  background-color: white;
  // background-image: url("../imagenes/card-fondo.jpg");
  // background-size: cover;
  // /* imagen como fondo */
  // background-repeat: no-repeat;
  // /* no se repite la imagen */
  // background-position: center;
  // /* centra la imagen */
  transition: 1s;
}

.ofertas-destacados .contenedor-ofertas div:hover {
  transform: scale(1.1);
  box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.75);
  -webkit-box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.75);
}

.titulo-principal {
  text-align: center;
  font-size: 45px;
  color: white;
  background-color: red;
  margin: 10px;
  padding: 10px;
  border: black solid;
}

.ofertas-destacados h3 {
  margin: 5px;
  color: rgb(255, 255, 255);
  font-size: 20px;
}

.ofertas-destacados div img {
  width: 250px;
  height: 250px;
  margin-top: 5px;
  object-fit: contain;
  /* ajusta el tamaño */
}

// .ofertas-destacados div a {
//   text-decoration: none;
//   /*quita el subrayado*/
//   color: rgb(255, 255, 255);
//   background-color: black;
//   padding: 5px;
// }

.ofertas-destacados div a:hover {
  background-color: rgb(255, 0, 0);
  color: rgb(255, 255, 255);
  /*cambia el color del boton al pasar el mouse*/
}