.titulo-custom{
  text-align: center;
  font-size: 45px;
  color: white;
  background-color: red;
  margin: 10px;
  padding: 10px;
  border: black solid;
}

.banner-section {
  background-image: url("../imagenes/custom/shop.png");
  background-size: cover;
  /* imagen como fondo */
  background-repeat: no-repeat;
  /* no se repite la imagen */
  background-position: center;
  /* centra la imagen */
}

.banner-padre {
  display: flex;
  flex-direction: column;
  /*para que los elementos se muestren en una sola columna*/
  align-items: center;
  /*centra los elementos*/
  border: 2px rgb(0, 0, 0) solid;
  /*borde rojo*/
}

.banner-section h2 {
  text-align: center;
  color: rgb(255, 255, 255);
  padding: 10px;
  margin: 10px;
  background-color: rgba(0, 0, 0, 0.467);
}

.banner-section p {
  text-align: center;
  font-size: 20px;
  color: rgb(255, 255, 255);
  padding: 10px;
  margin: 10px;
  background-color: rgba(0, 0, 0, 0.488);
}

.banner-img {
  width: 100%;
  height: 67%;
  display: block;
  margin: 0 auto;
  max-height: 215px;
  cursor: pointer;
}